@import 'tailwindcss';
@import 'tw-animate-css';
/*---break---*/
@custom-variant dark (&:is(.dark *));

@theme {
  --color-dark: #0a0b0a;
  --color-light: #efe7d2;
  --color-secondary: rgba(24, 24, 24, 0.5); /*second bg*/
  --color-tertiary: rgba(239, 231, 210, 0.15); /*second border*/
  --color-hover: rgba(30, 30, 30);
  --color-hoverlink: rgb(208, 191, 147);

  --font-forum: 'Forum', serif;
  --font-satoshi: 'Satoshi', sans-serif;
}

@layer base {
  * {
    @apply transition-colors duration-300 ease-linear;
  }

  button {
    @apply cursor-pointer;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    width: 0;
  }
}

/* forum-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/forum-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-family: 'Satoshi';
  src: url('/assets/fonts/Satoshi-Light.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/assets/fonts/Satoshi-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

/*---break---*/

@theme inline {
  --radius-sm: calc(var(--radius));
  --radius-md: calc(var(--radius));
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius));
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

/*---break---*/

:root {
  --radius: 0.625rem;
  --background: rgba(24, 24, 24, 0.5);
  --foreground: #efe7d2;
  --card: rgba(24, 24, 24, 0.5);
  --card-foreground: #efe7d2;
  --popover: #111211;
  --popover-foreground: #efe7d2;
  --primary: #efe7d2;
  --primary-foreground: #111211;
  --secondary: rgba(24, 24, 24, 0.5);
  --secondary-foreground: #efe7d2;
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: rgba(239, 231, 210, 0.6);
  --accent: rgba(30, 30, 30);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: #efe7d2;
  --input: oklch(1 0 0 / 15%);
  --ring: #efe7d2;
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

/*---break---*/

.dark {
  --background: rgba(24, 24, 24, 0.5);
  --foreground: #efe7d2;
  --card: rgba(24, 24, 24, 0.5);
  --card-foreground: #efe7d2;
  --popover: #111211;
  --popover-foreground: #efe7d2;
  --primary: #efe7d2;
  --primary-foreground: #111211;
  --secondary: rgba(24, 24, 24, 0.5);
  --secondary-foreground: #efe7d2;
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: rgba(239, 231, 210, 0.6);
  --accent: rgba(30, 30, 30);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: #efe7d2;
  --input: oklch(1 0 0 / 15%);
  --ring: #efe7d2;
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

/*---break---*/

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
